NODE_ENV=production
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
PREFIX=^

# Database - MySQL

DATABASE_URL="mysql://pixy:pixy_local_password@127.0.0.1:3306/pixy"

# Credential Encryption

PIXY_CREDENTIAL_ENCRYPTION_KEY=
