# Bot

# NODE_ENV=production
NODE_ENV=development
DISCORD_TOKEN=
DISCORD_CLIENT_SECRET=
DISCORD_CLIENT_ID=
PREFIX=^

# Database

DATABASE_URL="file:./dev.db"

# Credential Encryption

PIXY_CREDENTIAL_ENCRYPTION_KEY=
